.contact__promo {
  font-family: "OpenSans", "Arial Black", sans-serif;
  font-size: 24px;
  font-weight: 100;
  color: #283645;
  background-color: #ffffff;
}

.contact__list {
  list-style: none;
  margin: 0 0;
  padding: 0 0;
}

.contact__title {
  font-family: "OpenSans", "Arial Black", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #283645;
  background-color: #ffffff;
}

.contact__info {
  text-decoration: none;
  font-family: "OpenSans", "Arial Black", sans-serif;
  font-size: 24px;
  color: #d22856;
  background-color: #ffffff;
}
