.developer__info {
  color: #283645;
  background-color: #ffffff;
  font-family: "OpenSans", "Arial Black", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  margin: 0 0;
  padding: 0 0;
}

.developer__link {
  display: block;
  width: 50px;
  height: 70px;
  background-image: url("../img/htmlacademy.svg");
  background-position: center;
  background-repeat: no-repeat;
}
