.download__info {
  font-family: "OpenSans", "Arial Black", sans-serif;
  font-size: 14px;
  font-weight: 100;
  line-height: 23px;
  margin: 0 0;
  padding: 0 0;
}

.download__application {
  margin: 0 0;
  padding: 0 0;
}
