.page-header {
  width: 320px;
  background-color: #1d2631;
  color: #ffffff;
}

.page-header__wrapper {
  width: 320px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  padding-bottom: 400px;
  margin-bottom: 28px;
}
